<toaster-container [toasterconfig]="config1"></toaster-container>
<div class="page-center">
    <div class="page-center-in">
        <div class="container-fluid" *ngIf="!code">
            <form (ngSubmit)="onResetPassword()" class="sign-box reset-password-box">
                <!--<div class="sign-avatar">
                        <img src="img/avatar-sign.png" alt="">
                    </div>-->
                <header class="sign-title">Reset Password</header>
                <div class="form-group">
                    <input type="text" [(ngModel)]="user.account" name="account" class="form-control" placeholder="E-Mail or Phone" />
                </div>
                <button type="submit" class="btn btn-rounded">Reset</button> or <a routerLink="/auth/login">Sign in</a>
            </form>
        </div>
        <div *ngIf="code == 'verify'" class="container-fluid">
            <form (ngSubmit)="onVerifyCode()"  role="form" class="sign-box reset-password-box">
                <header class="sign-title">Please enter verify code here</header>
                <div class="form-group">
                    <input type="text" [(ngModel)]="user.code" name="code" class="form-control" placeholder="Verify code" />
                </div>
                <button type="submit" class="btn btn-rounded">Verify</button>
            </form>
        </div>
        <div *ngIf="code == 'password'" class="container-fluid">
            <form (ngSubmit)="onRestPasswordWithPassword($event)" role="form" [formGroup]="passwordForm" class="sign-box reset-password-box">
                <header  class="normaly" class="sign-title">Please reset new password</header>
                <norm-form  [model]="user" [fields]="userFields" [form]="passwordForm">
                    <button [disabled]="desabledButton" type="submit" class="btn btn-rounded">Save</button> or <a routerLink="/auth/login">Sign in</a>
                </norm-form>
            </form>
        </div>


    </div>
</div>