<div class="page-center">
  <div class="page-center-in" style="height: 692px;">
    <div class="container-fluid">
   
    <div class="sign-box">
        <div class="sign-avatar">
          <img src="assets/img/bnd_copyright.png" alt="">
        </div>
        <header class="sign-title">Sign In</header>
        
         <form class="norm" role="form" novalidate [formGroup]="signInForm" (ngSubmit)="onSubmit(user)">
          <norm-form [model]="user" [fields]="userFields">
               <div class="form-group">
          <div class="checkbox float-left">
            <input type="checkbox" id="signed-in">
            <label for="signed-in">Keep me signed in</label>
          </div>
          <div class="float-right reset">
            <a routerLink="/auth/reset">Reset Password</a>
          </div>
          </div>
            <button type="submit" class="btn btn-rounded">Login</button>
          </norm-form>
        </form>
      </div>
    </div>
  </div>
</div><!--.page-center-->

