<div class="mobile-menu-left-overlay"></div>
<nav class="side-menu">
    <ul class="side-menu-list">
        <!--<li class="grey with-sub">
            <span>
                <span class="font-icon font-icon-burger"></span>
            <span class="lbl">Nested Menu</span>
            </span>
            <ul>
                <li><a [routerLink]="['/dashboard', {outlets: {'dashboard': ['about']}}]"><span class="lbl">About Page</span></a></li>
                <li><a [routerLink]="['/dashboard', {outlets: {'dashboard': ['home']}}]"><span class="lbl">Home Page</span></a></li>
                <li class="with-sub">
                    <span>
                        <span class="lbl">Level 2</span>
                    </span>
                    <ul>
                        <li><a routerLink="/login"><span class="lbl">Login Form</span></a></li>
                        <li><a [routerLink]="['/dashboard', {outlets: {'dashboard': ['register']}}]"><span class="lbl">Register Form</span></a></li>
                        <li class="with-sub">
                            <span>
                                <span class="lbl">Level 3</span>
                            </span>
                            <ul>
                                <li><a href="#"><span class="lbl">Level 3</span></a></li>
                                <li><a href="#"><span class="lbl">Level 3</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <!-- Search -->
        <!--<li class="brown with-sub opened">
            <span>
                <span class="font-icon font-icon-search"></span>
            <span class="lbl"> Advance Search</span>
            </span>
            <ul style="">
                <li>
                    <span class="lbl">Search</span>
                    <div class="form-group" style="width:90%;padding-left:30px">
                        <div class="input-group">
                            <div class="input-group bootstrap-touchspin">
                                <input id="demo1" type="text" value="" name="demo1" class="form-control" style="display: block;">
                                <span class="input-group-btn">
                  <button class="btn btn-default bootstrap-touchspin-up" type="button">
                    +
                  </button>
                </span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="with-sub">
                    <span>
            <span class="lbl">Search Type</span>
                    </span>
                    <ul>
                        <li>
                            <div class="radio">
                                <input type="radio" name="optionsRadios" id="radio-1" value="option1">
                                <label for="radio-1">Option one </label>
                            </div>
                        </li>
                        <li>
                            <div class="radio">
                                <input type="radio" name="optionsRadios" id="radio-1" value="option1">
                                <label for="radio-1">Option one </label>
                            </div>
                        </li>
                        <li class="with-sub">
                            <span>
            <span class="lbl">Search Type</span>
                            </span>
                            <ul>
                                <li>
                                    <div class="radio">
                                        <input type="radio" name="optionsRadios" id="radio-1" value="option1">
                                        <label for="radio-1">Option one </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="radio">
                                        <input type="radio" name="optionsRadios" id="radio-1" value="option1">
                                        <label for="radio-1">Option one </label>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="charts-peity.html"><span class="lbl">Search Option</span></a></li>
            </ul>
        </li>-->
        <!-- End search -->

        <li class="grey with-sub">
            <span>
                <span class="font-icon font-icon-burger"></span>
            <span class="lbl" translate="settings"></span>
            </span>
            <ul>
                <li>
                    <a routerLink="/settings/job"><span class="lbl" translate="job"></span></a>
                </li>
                <li class="with-sub">
                    <span>
                        <span class="lbl" translate="setup"></span>
                    </span>
                    <ul>
                        <li>
                             <a routerLink="/settings/setup/meter"><span translate="meter"></span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>

    </ul>
</nav>
<!--.side-menu-->