<app-loading-indicator></app-loading-indicator>
<app-notification></app-notification>
<app-header *ngIf="isAuthenticated | async" (changeLanguage)="onChangeLangauge($event)"></app-header>
<app-menus *ngIf="isAuthenticated | async"></app-menus>
<router-outlet (e)="language"></router-outlet>