<div class="col-xl-12 dahsboard-column lobipanel-parent-sortable ui-sortable">
<section class="box-typical box-typical-dashboard panel panel-default scrollable lobipanel lobipanel-sortable">
<div class="table-responsive" style="margin: auto;">
    <data-table class="table table-striped"
        headerTitle="Users"
        [items]="jobs"
        [itemCount]="jobCount"
        [limit]="paging.pageSize"
        [sortBy]="'rating'"
        [sortAsc]="false"
        (eventAdd)="eventAdd($event)"
        (eventPageForward)="eventPageForward($event)"
        (eventPageBackward)="eventPageBackward($event)"
        (eventLimitPage)="eventLimitPage($event)"
        (eventPageFirst)="eventPageFirst($event)"
        (eventPageLast)="eventPageLast($event)"
        (reload)="reloadJobs($event)"
        (eventDelete)="eventDelete($event)"

        [selectColumn]="true"
        [multiSelect]="true"
        [substituteRows]="true"
        [expandableRows]="true"
        [translations]="translations"
        [indexColumnHeader]="'#No'"
        [selectOnRowClick]="true"
        >
        <ng-template #dataTableExpand let-item="item">
            <div [textContent]="item.jobTitle" style="padding: 5px; color: gray"></div>
            <div [textContent]="item.description" style="padding: 5px; color: gray"></div>
            <div [textContent]="item.createdAt" style="padding: 5px; color: gray"></div>
        </ng-template>
        <data-table-column
            [property]="'id'"
            [header]="'job_id'"
            [sortable]="true">
        </data-table-column>
        <data-table-column
            [property]="'jobTitle'"
            [header]="'Job Title'"
            [sortable]="true">
        </data-table-column>
        <data-table-column
            [property]="'description'"
            [header]="'Description'"
            [sortable]="false">
        </data-table-column>
        <data-table-column
            [property]="'createdAt'"
            [header]="'Created At'"
            [resizable]="true"
            [sortable]="true">
            <ng-template #dataTableCell let-item="item">
                <span>{{item.createdAt | date:'yyyy-MM-dd'}}</span>
            </ng-template>
        </data-table-column>
        <data-table-column
            [property]="'updatedAt'"
            [header]="'Updated At'">
            <ng-template #dataTableCell let-item="item">
                <span>{{item.updatedAt | date:'yyyy-MM-dd'}}</span>
            </ng-template>
        </data-table-column>
    </data-table>
    <div class="col-xl-6">
        <b>Selected:</b>
        <span *ngIf="jobsTable.selectedRow == null"><i>No item selected</i></span>
        <span [textContent]="jobsTable.selectedRow && jobsTable.selectedRow.item.jobTitle"></span>
    </div>
</div>
</section>

<modal #modal>
    <modal-header [show-close]="true">
        <h4 class="modal-title" translate="header_add_job_title"></h4>
    </modal-header>
    <modal-body>
        <form class="norm" role="form" novalidate [formGroup]="jobTitle" (submit)="onAddJobTitle(JobTitleModel)">
          <norm-form [model]="JobTitleModel" [fields]="jobTitleFields" [options]="options">
                <button type="submit" class="btn btn-rounded" [disabled]="!jobTitle.valid">{{jobTitle.valid}}</button>
          </norm-form>
        </form>
    </modal-body>
   
</modal>
</div>