<div class="col-xl-6 dahsboard-column lobipanel-parent-sortable ui-sortable">
<section class="box-typical box-typical-dashboard panel panel-default scrollable lobipanel lobipanel-sortable">
     <form (ngSubmit)="onRestPasswordWithPassword()" role="form" novalidate [formGroup]="passwordForm" class="sign-box reset-password-box">
                <header class="sign-title">Please reset new password</header>
                <norm-form [model]="user" [fields]="userFields" [form]="passwordForm" [options]="options">
                    <div class="form-group">
                        <div class="checkbox float-left">
                            <input type="checkbox" id="signed-in">
                            <label for="signed-in">Keep me signed in</label>
                        </div>
                        <div class="float-right reset">
                            <a routerLink="/auth/reset">Reset Password</a>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-rounded">Save</button> or <a routerLink="/auth/login">Sign in</a>
                </norm-form>
    </form>
</section>
</div>
<div class="col-xl-6 dahsboard-column lobipanel-parent-sortable ui-sortable">
        <section class="box-typical profile-side-user">
            <button type="button" class="avatar-preview avatar-preview-128">
								<img src="img/avatar-1-256.png" alt="">
								<span class="update">
									<i class="font-icon font-icon-picture-double"></i>
									Update photo
								</span>
								<input type="file">
							</button>
           
            <div class="profile-card-name"> </div>

        </section>
</div>