<div *ngIf="loading.hasError" id="notie-alert-outer" style="position: fixed; left: 0px; z-index: 999999999; height: auto; width: 100%; display: table; text-align: center; cursor: pointer; background-color: rgb(250, 66, 74);">
  <div id="notie-alert-inner" style="padding: 5px; display: table-cell; vertical-align: middle;">
    <span id="notie-alert-text" style="color: rgb(255, 255, 255); font-size: 1.2rem;">{{loading.hasMsg | translate}}</span>
      <button type="button" (click)="onClose()" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">×</span>
     </button>
  </div>

</div>